case:
  headers:
    content-type: application/json; charset=utf-8
  id: report_group_by_environment
  method: GET
  path: /reports?group_by=environment
expected:
  output:
    properties:
      rows:
        type: array
        items:
          properties:
            bucket:
              const: null
            group:
              properties:
                environment:
                  type: string
              required:
              - environment
              type: object
            count_runs:
              type: integer
              minimum: 1
            sum_cost:
              type: number
            avg_steps:
              type: number
            avg_output_tokens:
              type: number
          required:
          - bucket
          - group
          - count_runs
          - sum_cost
          - avg_steps
          - avg_output_tokens
          type: object
        minItems: 1
    required:
    - rows
    type: object
  status_code: 200
