version: 1
groups: # Groups of cases to evaluate
  core:
    group_type: Core
  functions:
    group_type: Functionality
  history:
    group_type: Functionality
  errors:
    group_type: Error

loader:
  type: nested # This case is laid out as each sub directory is a case
  include: "*" # The base pattern to find directories 
  patterns: ["**/*"] # The patterns to find files in each subdirectory
  exclude: [] # List of patterns to EXCLUDE
  # How to process the files found. Those not listed here are assumed to just
  # be input files and are copied over raw.
  rules: 
    input:
      dest: ["stdin"] # Load the STDIN into the stdin field of the case
      loader: text
    result:
      dest: ['expected','output']
      loader: json

adapter: # How to run the submission
  type: cli 
  entry_file: "calculator.py"

# How we will determine if the submission is correct
verifiers: 
  success: # Checks that the status code is exact match 0
    type: status_code
    value: 0
  output_match: # Uses deepdiff to do comparison
    type: exact_match
    # Which path attribute of the result should we compare
    result_attr: ["output"] 
    # Which expected attribute should we use.
    expected_attr: ["output"]
    deepdiff_kwargs:
      ignore_numeric_type_changes: True
      ignore_string_type_changes: True

constants:
  arguments: ["--eval"]

# Normalize both the result and the expected
normalizers:
  # Splits the text into lines
  - "split_lines(output)"
  # Extracts the equation from the string
  - "regex_extract(output, regex='equation: (.*)', group=1)"
  # Slices the list to the first 3 elements
  - "slice_list(output, end=-1)"
  # Casts each element in output to a float.
  - "cast_to(output, cast_type='float')"
expected_normalizers:
   # Gets the value of the "results" key in the output
  - "get_key_value(output,key='results')"

specification: spec.md
state: Core Tests
timeout: 45 # Optional Timeout for this checkpoint. Overrides the problem default one